image: ghcr.io/fraym/fraeym/auth
version: 1.0.0-alpha.14
debug: false
replicas: 2

resources:
  requests:
    cpu: 250m
    memory: 100Mi
  limits:
    memory: 500Mi

secretName:
  auth: fraeym-auth-config

autoscaling:
  enabled: true
  maxReplicas: 10
  targetCPUUtilizationPercentage: 100
