image: ghcr.io/fraym/fraeym/crud
version: 1.0.4
debug: false
replicas: 2

resources:
  requests:
    cpu: 600m
    memory: 100Mi
  limits:
    memory: 500Mi

secretName:
  auth: fraeym-auth-config
  postgres: fraeym-postgres-config
  s3: fraeym-s3-config

autoscaling:
  enabled: true
  maxReplicas: 10
  targetCPUUtilizationPercentage: 100
