image: ghcr.io/fraym/fraeym/deployments
version: 1.0.0-alpha.3
debug: false

resources:
  requests:
    cpu: 10m
    memory: 50Mi
  limits:
    memory: 500Mi

secretName:
  postgres: fraeym-postgres-config
  deployments: fraeym-deployments-config
