image: ghcr.io/fraym/fraeym/streams
version: 1.0.0-alpha.23
replicas: 2
debug: false

resources:
  requests:
    cpu: 500m
    memory: 100Mi
  limits:
    memory: 500Mi

secretName:
  auth: fraeym-auth-config
  postgres: fraeym-postgres-config

autoscaling:
  enabled: true
  maxReplicas: 10
  targetCPUUtilizationPercentage: 100
