image: ghcr.io/fraym/fraeym/projections
version: 1.0.0-alpha.8
replicas: 2
debug: false

resources:
  requests:
    cpu: 800m
    memory: 150Mi
  limits:
    memory: 1500Mi

secretName:
  auth: fraeym-auth-config
  postgres: fraeym-postgres-config
  typesense: fraeym-typesense-config

autoscaling:
  enabled: true
  maxReplicas: 10
  targetCPUUtilizationPercentage: 100

typesense:
  enabled: false
