image: ghcr.io/fraym/fraeym/projections
version: 1.0.3
replicas: 2
debug: false

resources:
  requests:
    cpu: 800m
    memory: 150Mi
  limits:
    memory: 1500Mi

secretName:
  auth: fraeym-auth-config
  postgres: fraeym-postgres-config
  search: fraeym-search-config

autoscaling:
  enabled: true
  maxReplicas: 10
  targetCPUUtilizationPercentage: 100

search:
  enabled: false
  tls:
    secret:
      name: elasticsearch-es-http-ca-internal
      key: tls.crt
