apiVersion: v2
name: fraeym
description: "Fraeym: All Freaym services in one chart"
type: application
version: 1.0.7 # Chart version
dependencies:
  - name: auth
    alias: auth
    condition: auth.create
    version: 1.0.7
    repository: file://../auth
  - name: crud
    alias: crud
    condition: crud.create
    version: 1.0.7
    repository: file://../crud
  - name: deployments
    alias: deployments
    condition: deployments.create
    version: 1.0.7
    repository: file://../deployments
  - name: projections
    alias: projections
    condition: projections.create
    version: 1.0.7
    repository: file://../projections
  - name: streams
    alias: streams
    condition: streams.create
    version: 1.0.7
    repository: file://../streams
  - name: sync
    alias: sync
    condition: sync.create
    version: 1.0.7
    repository: file://../sync
  - name: imgproxy
    alias: imgproxy
    condition: imgproxy.create
    version: 0.8.34
    repository: https://helm.imgproxy.net/